/* src/app/components/socio-list/socio-list.component.css */
.socio-list-container {
    max-width: 800px;
    margin: auto;
    padding: 2rem;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card {
    margin-bottom: 1rem;
    padding: 1rem;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-button, .delete-button {
    padding: 5px 10px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-button {
    background-color: #4CAF50;
    color: white;
}

.delete-button {
    background-color: #f44336;
    color: white;
}

.delete-button:hover {
    background-color: #d32f2f;
}

.edit-button:hover {
    background-color: #388e3c;
}

.card-body p {
    margin: 0.5rem 0;
}

/* Responsividade */
@media (max-width: 768px) {
    .form-container, .socio-list-container {
        padding: 1rem;
    }
}